@font-face
{
	font-family: HussarBold!important;
	src:  url(fonts/Trueno-wml2.otf)!important;
}
.logo
{
	width: 65%!important;
}
.btn-outline-info 
{
    --bs-btn-color: #00a8f3!important;
    --bs-btn-border-color: #00a8f3!important;
    --bs-btn-hover-color: #000!important;
    --bs-btn-hover-bg: #00a8f3!important;
    --bs-btn-hover-border-color: #00a8f3!important;
    --bs-btn-focus-shadow-rgb: 13,202,240!important;
    --bs-btn-active-color: #000!important;
    --bs-btn-active-bg: #00a8f3!important;
    --bs-btn-active-border-color: #00a8f3!important;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #00a8f3!important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #00a8f3!important;
    --bs-gradient: none;
}
header
{
	font-size: 16px!important;

    font-weight: 500!important;
}
body
{
	background-color: #ededed!important;
    font-size: 17px!important;	
}
header .nav-link:hover
{
	color: #00a8f3!important;
}
.header
{
	border-bottom: 1px solid black!important;
}
.t-c
{
	text-align: center!important;
}
.c-b
{
	color: #00a8f3!important;
}
.carousel-item
{
	text-align: center!important;
}
.sma-t
{
	font-size: 23px!important;
	font-weight: 500!important;
}
.p-20
{
	padding-top: 20px!important;
}
.p-60
{
    padding-top: 60px;
}
.p-50
{
	padding-top: 50px!important;
}
.card
{
	border-radius: 0px!important;
    width: 100%!important;
    height: 100%!important;
}
.card-link
{
	text-decoration: none!important;
}
.form-select 
{
    display: inline!important;
    width: auto!important;
 }
 form input
 {
 	margin-bottom: 3px!important;
 }
 .form-select:focus {
    border-color: #feda86!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.25rem rgb(253 172 13 / 25%)!important;
}
.btn {
    --bs-btn-border-radius: 3px!important;
}
.form-select-sm {
    border-radius: 3px!important;
}
.p-10
{
    padding-top: 10px!important;
}
.geo img
{
    width: 100%!important;
}
.btn-outline-info
{
    background: #00a8f3!important;
    color: white!important;
    font-weight: 600!important;
}
.btn-outline-info:hover
{
    background: white!important;
    color: #00a8f3!important;
    transition:0.5s!important;
}
.btn-outline-info:not(:hover)
{
    transition: 0.5s!important;
}
.btn-outline-dark
{
    background: black!important;
    color: white!important;
    font-weight: 600!important;
}
.btn-outline-dark:hover
{
    background: white!important;
    color: black!important;
    transition:0.5s!important;
}
.btn-outline-dark:not(:hover)
{
    transition: 0.5s!important;
}
.aboutus
{
    background-color: #505050!important;
    color: white!important;
    padding: 30px!important;
}
.p-b-15
{
    padding-bottom: 15px!important;
}
.t-c-s
{
    display:flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.offers
{
    padding: 50px!important;
}
li.nav-item.dropdown::marker
{
    content: '';
}
.dropdown-item.bg:hover
{
    background: #00a8f3!important;
    color: white!important;
    transition:0.5s!important;
}
.dropdown-item.bg:not(:hover)
{
    transition: 0.5s!important;
}
.logo1
{
    width: 100%!important;
}
.form-select-sm {
    font-size: 15px!important;
}
.selfcard
{
    border-radius: 4px;
    border-color: #00a8f3;
    border-width: 1px;
    background-color: white;
    border-style: solid;
}
.sma-t-2
{
    font-size: 20px!important;
    font-weight: 500!important;
}
.selfcard-body
{
    border-radius: 4px;
    border-color: #00a8f3;
    border-width: 1px;
    background-color: white;
    border-style: solid;
}
.pad-20
{
    padding: 20px;
}
.mtb-30
{
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}
.form-control:focus 
{
    color: #212529!important;
    background-color: #f8fafc!important;
    border-color: #ffd38f!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.25rem #fdac0d40!important;
}
.mt-15
{
    margin-top: 14px!important;
}
.mb-20
{
    margin-bottom: 20px;
}
.ImgCart
{
    width: 165px!important;
}
.td-n
{
    text-decoration: none;
    color: #00a8f3;
}
.w-mc
{
    width: max-content;
    padding: 7px;
}
.plr-40
{
    padding-left: 40px!important;
    padding-right: 40px!important;
}
.mb-40
{
    margin-bottom: 40px!important;
}
.cartdiv
{
    display: flex!important;
    align-items: center!important;
}